
# Исполняемые файлы
# Настройки IDE и редакторов
# Папки сборки
# Папки сборки (CMake, Make, IDE)
# Файлы отладки
*.app
build/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*.dSYM/
*.exe
helloworld
# IDE
.idea/
.idea/# Скомпилированные бинарники
*.ilk
Makefile
*.o
*.obj
*.out
*.pdb
*.suo
*.swp
*.user
.vs/
.vscode/
